@import "bootstrap-sprockets";
@import "bootstrap";

$font-normal: Verdana, Arial, Helvetica;

body {
  background: none;
  font-family: $font-normal;
}

html {
  background: #DFE8E5 url('https://lh3.googleusercontent.com/ogPlLUbiz0c11N-pJoWciKhcwrGp1MTaLcHFUrao0VnQG-qqIu7befF8LPn1kL4WgGo5_5u1O8CMRdQyo0KYUYpyoDLI2AIO1xTzp8JRuY_E1Fc7zhDKjBW4fbg9IVHzfdmrxkBiVI52q9ZyV2nm-U8ETrg55MHtYafSgx9IIwLctC6ew0jQhuCIgfKE04uDCldWrNXpR8kteQJBlfdTCQe2Y1RnaEdAIq0YP6H1oFWVoVXpdgUvYKNQ-a67qsQRbbjyspKu-7nvDkSwlH-o7Onb4BdH3sUXE4CfOTspsQgkf5k0MDnOQUxqGAgJKZ-D95l9qocqjBzVD7u3RV9cZ89A9w6C7ptD5yrkpWWBBvJPTInXmWnJ_envSMEQJkt5BsqIvmjyrIq5Un6-asfWx9pIlCvFgy5IMrMMgGbDcxbx1UxSSCWI38k7FJJs_ipgMqZdYQx4KiixQdMPtp8GuXyg38jLWAHcTYXsbKLO8sja1xd2RfLOLwDioVNKPyiwhy0n0qunx8ZWf-8J9j4s7IeM5R5jZqTi6V3b54P8WooHw5BXSinw3TOkZ69FSNArx1e9vjEUpH62B33bpkTkkD0W-XoDjtUlwJsz4bDHwbrgJFq-zeXx7pxrxSa5aQmw4z1SKFsRVjuDHo4il-2y7EUq1xiK9kQovMD2dPI8SBaKUTbdq6lnkGHRE3nLl5cIDuqkQAQ-YOT4oxez0VY=w1280-h960-no') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-body {
  padding: 18px !important;
}

.required {
  color: #ff0000;
  font-weight: bold;
}

.center-box {
  max-width: 500px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 0 30px 0 30px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-family: "Playball", Verdana, Arial, Helvetica;
  font-size: 18px;
}

.guest-list {
  max-width: 950px;
  font-family: $font-normal;
  font-size: 14px;
}

.thank-you p {
  font-family: $font-normal;
  font-size: 15px;
}

h1 {
  color: #fff;
  text-shadow: 3px 3px 4px #808080;
  font-family: "Stalemate", Verdana, Arial, Helvetica;
  font-size: 85px;
}

input,
textarea,
.normal-font {
  font-family: $font-normal;
  font-size: 15px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert,
#error_explanation {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
  font-family: $font-normal;
}

.alert-success,
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

#error_explanation {
  padding: 15px 15px 15px 30px;
  margin-bottom: 30px;

  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

.alert-recaptcha_error {
  display: none;
}

.g-recaptcha {
  display: inline-block;
}

.btn-guest-list {
  margin-top: 42px;
  margin-bottom: 20px;
}
